@model ContactUsViewModel
@inject IConfiguration configuration
@{
    ViewData["Title"] = "تماس با ما";
}


@section Header{
    <link href="~/Vendors/Tags-master/dist/tags.min.css" rel="stylesheet" />
}
<!-- login----------------------------------->
<div class="">
    <div class="main-row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-12 col-md-12 col-xs-12 mx-auto">
                    <div id="breadcrumb">
                        <i class="fa fa-home"></i>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">خانه</a></li>
                                <li class="breadcrumb-item active" aria-current="page">مشتریان</li>
                                <li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="ds-userlogin">
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4 class="mb-2">تماس با ما</h4>
                                    <div class="row col-md-12">
                                        <form class="form-account col-md-6 row" 
                                              style="justify-content:right;text-align:right"
                                              method="POST"
                                              asp-action="ContactUs"
                                              asp-controller="Account">

                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <p>نام</p>
                                                    <div class="position-relative has-icon-left">
                                                        <input id="productName" asp-for="UserName" placeholder="نام کاربری" class="form-control" autofocus required>
                                                        <span asp-validation-for="UserName" class="red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <p>ایمیل</p>
                                                    <div class="position-relative has-icon-left">
                                                        <input id="productName" asp-for="Email" placeholder="ایمیل" class="form-control"  required>
                                                        <span asp-validation-for="Email" class="red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <p>عنوان</p>
                                                    <div class="position-relative has-icon-left">
                                                        <input id="productName" asp-for="Topic" placeholder="عنوان" class="form-control" required>
                                                        <span asp-validation-for="Topic" class="red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <p>شرح</p>
                                                    <div class="position-relative has-icon-left">
                                                        <textarea class="form-control" rows="5" asp-for="Text"></textarea>
                                                        <span asp-validation-for="Text" class="red "></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-account-title m-2">
                                                    <div class="g-recaptcha" data-sitekey="@configuration["reCAPTCHA:SiteKey"]"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <div class="position-relative has-icon-left">
                                                        <button type="submit" class="btn btn-info col-md-12" style=" margin-top: 10px; margin-bottom: 10px;">
                                                            <i class="icon-note"></i> ارسال
                                                        </button>
                                                    </div>
                                                    @if (ViewData["Error"] != null)
                                                    {
                                                        <div class="alert alert-danger">
                                                            <strong>خطا! </strong>  @ViewData["Error"]
                                                        </div>}
                                                    @if (ViewData["Success"] != null)
                                                    {
                                                        <div class="alert alert-success">
                                                            <strong>موفقیت! </strong>  @ViewData["Success"]
                                                        </div>}
                                                </div>
                                            </div>
                                        </form>
                                        <div class="col-md-6">
                                            <div class="alert alert-warning">
                                                <div class="col-md-12">
                                                    <div class="container-main">
                                                        <strong>
                                                            شما میتوانید با ما حرف بزنید !
                                                        </strong>
                                                        <p>
                                                            سوال ، انتقاد و پیشنهاد های خود را برای ما بفرستید.
                                                            <br />
                                                            توجه داشته باشید که جواب سوالات شما در طول
                                                            24 الی 48 ساعت آینده به ایمل شما ارسال میشود.
                                                            <br />
                                                            <strong>
                                                                از صبر و شکیبایی شما سپاس گذاریم :)
                                                            </strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- login----------------------------------->
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>
}
