@model ProfileViewModel
@{
    ViewData["Title"] = "نظرات";
}

<!-- profile------------------------------->
<div class="container-main">
    <div class="d-block">
        <section class="profile-home">
            <div class="col-lg">
                <div class="post-item-profile order-1 d-block">
                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                        <div class="sidebar-profile sidebar-navigation">
                            <partial name="_SidebarProfilePartial"></partial>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12 pl">
                        <div class="profile-content">
                            <div class="profile-stats">
                                <div class="profile-comment">
                                    <table class="table table-borderless table-profile-comment">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">نام محصول</th>
                                                <th scope="col">نظر</th>
                                                <th scope="col">وضعیت</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var comment in Model.Comments)
                                            {
                                                <tr>
                                                    <th scope="row" class="th-img">
                                                        <div class="thumb-img">
                                                            <a asp-action="Description" asp-controller="Product" asp-route-productId="@comment.ProductId">
                                                                <img src="/Images/ProductImages/@comment.ProductImage">
                                                            </a>
                                                            @*<div class="product-rate">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                </div>*@
                                                        </div>
                                                    </th>
                                                    <td>
                                                        @comment.ProductName
                                                    </td>
                                                    <td>@comment.CommentText</td>
                                                    <td>
                                                        @if (comment.IsShow == true)
                                                        {
                                                            <span class="profile-comment-status-approved">تایید شده</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="profile-comment-status-approved" style="color:red">تایید نشده</span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <partial name="_PagingParitial"></partial>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- profile------------------------------->
