@model RegisetUserForLoginViewModel
@inject IConfiguration configuration
@{
    ViewData["Title"] = "ثبت نام در سایت";
}
@section Header{
    <!-- plugin-------------------------------------->
    <link href="~/assets/css/vendor/noUISlider.min.css" rel="stylesheet" />
}

<!-- login----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a asp-action="Index" asp-controller="Home" class="account-box-logo" style="margin:auto">CloseStore</a>
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a asp-action="Login" asp-controller="Account" class="login-ds">
                                    <span class="title">ورود</span>
                                    <span class="sub-title">به کلوزاستور</span>
                                </a>
                                <a asp-action="Register" asp-controller="Account" class="register-ds active">
                                    <span class="title">ثبت نام</span>
                                    <span class="sub-title">در کلوزاستور</span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4>ثبت نام در کلوزاستور</h4>
                                    <form asp-action="Register" asp-controller="Account"
                                          method="post" class="form-account text-right">
                                        <div class="form-account-title">
                                            <label for="email-phone">ایمیل</label>
                                            <input type="text" class="number-email-input" id="email-phone" required autofocus asp-for="Email">
                                            <span asp-validation-for="Email" style="color:red;"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label for="email-phone">نام کاربری</label>
                                            <input type="text" class="number-email-input" id="email-phone" required asp-for="UserName">
                                            <span asp-validation-for="UserName" style="color:red;"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label for="password">رمز عبور</label>
                                            <input type="password" class="password-input" required asp-for="PassWord">
                                            <span asp-validation-for="PassWord" style="color:red;"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label for="password">تکرار رمز عبور</label>
                                            <input type="password" class="password-input" required asp-for="RePassWord">
                                            <span asp-validation-for="RePassWord" style="color:red;"></span>
                                        </div>
                                        <div class="form-account-title m-2">
                                            <div class="g-recaptcha" data-sitekey="@configuration["reCAPTCHA:SiteKey"]"></div>
                                        </div>
                                        @*<div class="form-auth-row">
                                            <label for="#" class="ui-checkbox mt-1">
                                                <input type="checkbox" value="1" name="login" id="remember">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label for="remember" class="remember-me mr-0"><a href="#">حریم خصوصی</a> و <a href="#">شرایط قوانین </a>استفاده از سرویس های سایت دیجی‌اسمارت را مطالعه نموده و با کلیه موارد آن موافقم.</label>
                                        </div>*@
                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-register " id="submit" type="submit">ثبت نام در کلوزاستور</button>
                                            @if (ViewData["Error"] != null)
                                            {
                                                <div class="alert alert-danger">
                                                    خطا ! @ViewData["Error"]
                                                </div>
                                            }
                                            @if (ViewData["Success"] != null)
                                            {
                                                <div class="alert alert-success">
                                                    موفقیت ! @ViewData["Success"]
                                                </div>
                                            }
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- login----------------------------------->

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <!-- plugin----------------------------------------------------->
    <script src="~/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="~/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="~/assets/js/vendor/wNumbMin.js"></script>
    <script src="~/assets/js/vendor/nouislider.min.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>

    <script>

        $("#remember").on("checked", function () {
            $("#submit").removeClass("d-none");
        });

        @*$("#remember").is(":checked")

            }
            else {
            $("#submit").addClass("d-none");
        }*@
    </script>

}