
@{
    ViewData["Title"] = "درخواست همکاری با کلوز استور";
}

<!-- login----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-12 col-md-12 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a asp-controller="Home" class="account-box-logo">Close Store</a>
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4 class="mb-2">همکاری با کلوز استور</h4>
                                    <form action="#" class="form-account text-center">
                                        <div class="made-account">
                                            <h2>برای ثبت درخواست همکاری با ما لطفا قوانین زیر را مطالعه کنید و درصورتی که قبول داشتید درخواست خود را ارسال کنید ... با تشکر</h2>
                                            <h6>
                                                قوانین همکاری
                                            </h6>
                                            <p>
                                                برای همکاری با ما شما باید ضامن و پاسخ گویه مشتریان ما باشید و در صورت
                                                پاسخ ندادن به سوالات و یا برخورد ناخوشایند از سمت شما ، شما از همکاری با ما منع می شوید
                                                و تمامی محصولات شما از صفحه فروشگاه پاک خواهد شد و دیگر قادر به همکاری با ما نخواهید بود.
                                                محصولات شما باید همه روزه چه از لحاظ قیمت و تعداد به روز شود تا مشتریان بتوانند
                                                به راحتی خرید خود را انجام دهند ...
                                                همچنین در صورت تخفیف گذاشتن سایت محصولات شما هم شامل تخفیف خواهد شد.
                                            </p>
                                            <br />
                                            <smal>حال در صورت قبول کردن قوانین میتنوانید مراحل زیر را مطالعه کنید</smal>
                                            <h6>
                                                ارسال مدارک
                                            </h6>
                                            <p>
                                                برای همکاری با ما شما باید عکس کارت ملی (پشت و رو) شناسنامه (صفحات اول و دوم و سوم) عکس از کارت بانکی
                                                که میخواهید پول به آن واریز شود...
                                                آدرس دقیق فروشگاهتان
                                                عکس از پروانه کسب
                                                عکس از برند فروشگاه
                                                و یک عکس 3 * 4 برای ما ارسال کنید
                                                تا ما این مدارک را ذخیره کرده و بعد از تایید
                                                شمارا به عنوان فروشنده ثبت کنیم ...
                                            </p>
                                            <h6>
                                                گذاشتن شماره تماس
                                            </h6>
                                            <p>
                                                شما باید شماره تماس همراه خود و فروشگاه خود را برای تماس و پیگیری سایت بزارید
                                                و همچنین کد پستی خود را جهت ارسال جوایز و... بگذارید.
                                            </p>
                                            <br />
                                            <small>
                                                خوب حالا اگه با تمام این ها موافقی بریم برای ثبت نام نهایی :)
                                            </small>
                                        </div>
                                        <hr />
                                        <div class="row col-md-12">
                                            <div class="form-account-title col-md-6">
                                                <label for="email-phone">ایمیل</label>
                                                <input type="text" class="number-email-input form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title col-md-6">
                                                <label for="email-phone" class="col-md-12">نام فروشگاه</label><br />
                                                <small>توجه داشته باشید که تمام خریداران شمارا با این نام میبینند !!!</small>
                                                <input type="text" class="number-email-input form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title col-md-6">
                                                <label for="email-phone">نام خود</label>
                                                <input type="text" class="number-email-input form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title col-md-6">
                                                <label for="email-phone">نام خانوادگی</label>
                                                <input type="text" class="number-email-input form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title col-md-6">
                                                <label for="email-phone">کد ملی</label>
                                                <input type="text" class="number-email-input form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title  col-md-6">
                                                <label for="email-phone">شماره تلفن خود</label>
                                                <input type="text" class="number-email-input form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title col-md-6">
                                                <label for="email-phone">شماره تلفن محل کار</label>
                                                <input type="text" class="number-email-input form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title col-md-6">
                                                <label for="email-phone">کد پستی محل کار</label>
                                                <input type="text" class="number-email-input form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="email-phone">آدرس دقیق محل کار</label>
                                                <input type="text" class="number-email-input" id="email-phone" name="email-account">
                                            </div>
                                            <hr />
                                            <small>خوب بریم برای عکس های مورد نیاز</small>
                                            <div class="form-account-title">
                                                <label for="email-phone">عکس کارت ملی</label>
                                                <input type="file" class="form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="email-phone">عکس شناسنامه</label>
                                                <input type="file" class="form-control" id="email-phone" name="email-account" value="صفحه اول">
                                                <input type="file" class="form-control" id="email-phone" name="email-account" value="صفحه دوم">
                                                <input type="file" class="form-control" id="email-phone" name="email-account" value="صفحه سوم">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="email-phone">عکس کارت بانکی</label>
                                                <input type="file" class="number-email-input form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="email-phone">عکس برند فروشگاه باید با نام فروشگاه یکی باشد</label>
                                                <input type="file" class="form-control" id="email-phone" name="email-account">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="email-phone">عکس 3*4 از خود</label>
                                                <input type="file" class="form-control" id="email-phone" name="email-account" size="500">
                                            </div>
                                            <div class="form-account-title col-md-6">
                                                <label for="password">رمز عبور</label>
                                                <input type="password" class="password-input form-control" name="password-account">
                                            </div>
                                            <div class="form-account-title col-md-6">
                                                <label for="password">تکرار رمز عبور</label>
                                                <input type="password" class="password-input form-control" name="password-account">
                                            </div>
                                            <div class="form-row-account">
                                                <button class="btn btn-primary btn-login">ثبت درخواست</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- login----------------------------------->
