@model AddCategoryViewModel
@{ ViewData["Title"] = "افزودن دسته"; }

<!-- Inputs Icons start -->
<section class="inputs-icons">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-primary">
                        <h4 class="card-title mb-0">افزودن دسته بندی</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form" method="POST" asp-action="AddCategory" asp-controller="CategoryManager">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <p>نام دسته بندی</p>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Name" required class="form-control">
                                                <span asp-validation-for="Name" class="red"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <p>دسته بندی پدر را انتخاب کنید</p>
                                            <select class="custom-select d-block w-100"
                                                    asp-for="ParentId"
                                                    asp-items="@Model.CategoriesTreeView">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <div class="position-relative has-icon-left">
                                                <button type="submit" class="btn btn-success">
                                                    <i class="icon-note"></i> ذخیره
                                                </button>
                                            </div>
                                            @if (ViewData["Error"] != null)
                                            {
                                <div class="alert alert-danger">
                                    <strong>خطا! </strong>  @ViewData["Error"]
                                </div>}
                                            @if (ViewData["Success"] != null)
                                            {
                                <div class="alert alert-success">
                                    <strong>موفقیت! </strong>  @ViewData["Success"]
                                </div>}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inputs Icons end -->
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}