<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - فروشگاه من</title>

    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/materialdesignicons.css">

    @await RenderSectionAsync("Header", required: false)

    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous" />


</head>
<body>
    <!-- header-------------------------------->
    <partial name="_HeaderPartial" />
    <!-- header-------------------------------->

    <div>
        @RenderBody()
    </div>

    <!-- footer------------------------------------------->
    <partial name="_FooterPartial" />
    <!-- footer------------------------------------------->

    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->

    <!-- file js---------------------------------------------------->
    <script src="~/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <!-- main js---------------------------------------------------->
    <script src="~/assets/js/main.js"></script>

</body>
</html>