<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - فروشگاه من</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/nice-select.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    @await RenderSectionAsync("Header", required: false)

</head>
<body>
    <!-- header-------------------------------->
    <partial name="_HeaderPartial" />
    <!-- header-------------------------------->

    <div>
        @RenderBody()
    </div>
    
    <!-- footer------------------------------------------->
    <partial name="_FooterPartial" />
    <!-- footer------------------------------------------->
    <!-- file js---------------------------------------------------->
    <script src="~/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.js"></script>
    <!-- plugin----------------------------------------------------->
    <script src="~/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="~/assets/js/vendor/jquery.countdown.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
    <!-- main js---------------------------------------------------->
    <script src="~/assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>