@model IEnumerable<GetCategoriesTreeViewViewModel>


@foreach (var category in Model)
{
    if (category.Children.Count()==0)
    {
        <li id="nav-menu-item" class="menu-item">
            <a asp-action="Index" asp-controller="Product" asp-route-categoryId="@category.Id" class="current-link-menu">
                @category.Name
            </a>
        </li>
    }
    else
    {
        <li id="nav-menu-item" class="menu-item nav-overlay">
            <a asp-action="Index" asp-controller="Product" asp-route-categoryId="@category.Id" class="current-link-menu">
                @category.Name
            </a>
        </li>
    }
}