@model AddProductViewModel
@{
    ViewData["Title"] = "افزودن محصول";
}
<!-- Inputs Icons start -->
<section class="inputs-icons">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-primary">
                        <h4 class="card-title mb-0">افزودن محصول</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form" method="POST" asp-action="AddProduct" asp-controller="ProductManager"
                              enctype="multipart/form-data">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <p>نام محصول</p>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Name" required class="form-control round">
                                                <span asp-validation-for="Name" class="red"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <p>قیمت محصول</p>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Price" required type="number" class="form-control round">
                                                <span asp-validation-for="Price" class="red"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <p>تعداد محصول</p>
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="Count" required type="number" class="form-control round">
                                                <span asp-validation-for="Count" class="red"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <p>دسته محصول را انتخاب کنید</p>
                                            <select class="custom-select d-block w-100 round"
                                                    asp-for="CatId"
                                                    asp-items="@Model.CategoriesTreeView">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <p>توضیحات</p>
                                            <textarea required rows="10" id="editor" asp-for="Detail" class="round"></textarea>
                                            <span asp-validation-for="Detail" class="red "></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <p>آپلود عکس</p>
                                            <label for="attachment" class="w-100 text-center">
                                                <a class="upload-btn mb-2" role="button" aria-disabled="false"><i class="bi bi-cloud-arrow-up-fill text-info display-3"></i></a>
                                            </label>
                                            <h4 id="upfile1" style="cursor:pointer"><i class="icon-cloud-upload"></i>آپلود عکس</h4>
                                            <input style="display:none" type="file" asp-for="Images" accept=".png,.jpg,.jpeg" id="attachment" class="" multiple />
                                            <span asp-validation-for="Images" class="red"></span>
                                            <p id="files-area">
                                                <span id="filesList">
                                                    <span id="files-names"></span>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label>مشخصات</label>
                                            <div class="form-group  p-2 border-dark product-informations">
                                                <button id="add-information-btn" type="button" class="btn btn-success">افزودن مشخصات</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label>صفات</label>
                                            <div class="row col-md-12 col-12" id="product-Adjective">
                                                <button type="button" class="btn btn-success" id="addAdjective">افزودن صفات</button>
                                                <p>
                                                    <div class="col-md-12 p-1 m-1 flex-row" id="adjectiveDiv">

                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <div class="position-relative has-icon-left">
                                                <button type="submit" class="btn btn-success">
                                                    <i class="icon-note"></i> ذخیره
                                                </button>
                                            </div>
                                            @if (ViewData["Error"] != null)
                                            {
                                                <div class="alert alert-danger">
                                                    <strong>خطا! </strong>  @ViewData["Error"]
                                                </div>}
                                            @if (ViewData["Success"] != null)
                                            {
                                                <div class="alert alert-success">
                                                    <strong>موفقیت! </strong>  @ViewData["Success"]
                                                </div>}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inputs Icons end -->
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Vendors/ckeditor5/build/ckeditor.js"></script>
    @*Manage Images*@
    <script type='text/javascript'>
        $(function () {
            //Maps your button click event to the File Upload click event
            $("#upfile1").click(function () {
                $("#attachment").trigger('click');
            });
        });
    </script>
    <script>
        @*Manage Images*@

        const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file

        $("#attachment").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', { class: 'file-block' }),
                    fileName = $('<img/>', { class: 'productimages height-100 width-100 round', src: URL.createObjectURL(this.files.item(i)), alt: this.files.item(i).name });
                fileBloc.append('<span class="file-delete badge badge-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">\r\n  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>\r\n</svg></span>')
                    .append(fileName);
                $("#filesList > #files-names").append(fileBloc);
                //document.getElementById("lol").src = URL.createObjectURL(this.files.item(i));
            };
            // Ajout des fichiers dans l'objet DataTransfer
            for (let file of this.files) {
                dt.items.add(file);
            }
            // Mise à jour des fichiers de l'input file après ajout
            this.files = dt.files;

            // EventListener pour le bouton de suppression créé
            $('span.file-delete').click(function () {
                let name = $(this).next('img.productimages').attr("alt");
                // Supprimer l'affichage du nom de fichier
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // Correspondance du fichier et du nom
                    if (name === dt.items[i].getAsFile().name) {
                        // Suppression du fichier dans l'objet DataTransfer
                        dt.items.remove(i);
                        continue;
                    }
                }
                // Mise à jour des fichiers de l'input file après suppression
                document.getElementById('attachment').files = dt.files;
            });
        });

        ClassicEditor.create(document.querySelector('#editor'),
            {
                language: 'fa',
                ckfinder: { uploadUrl: "/Admin/ProductManager/UploadEditorFile" },
                heading: {
                    options: [
                        { model: 'paragraph', title: 'پاراگراف', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'هدر 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'هدر 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'هدر 3', class: 'ck-heading_heading3' }
                    ]
                },
                toolbar: {
                    items: [
                        'heading', '|',
                        'bold', 'italic', 'link', 'horizontalLine', 'underline', 'fontSize', 'fontColor', 'fontBackgroundColor', 'highlight', 'bulletedList', 'numberedList', 'blockQuote', '|',
                        'alignment', 'indent', 'outdent', '|',
                        'insertTable', 'htmlEmbed', 'codeBlock', '|',
                        'imageInsert', 'mediaEmbed', '|',
                        'removeFormat', 'redo', 'undo'
                    ],
                    shouldNotGroupWhenFull: true
                },
                image: {
                    // Configure the available styles.
                    styles: [
                        'alignLeft', 'alignCenter', 'alignRight'
                    ],

                    // Configure the available image resize options.
                    resizeOptions: [
                        {
                            name: 'resizeImage:original',
                            label: 'Original',
                            value: null
                        },
                        {
                            name: 'resizeImage:50',
                            label: '50%',
                            value: '50'
                        },
                        {
                            name: 'resizeImage:75',
                            label: '75%',
                            value: '75'
                        }
                    ],

                    // You need to configure the image toolbar, too, so it shows the new style
                    // buttons as well as the resize buttons.
                    toolbar: [
                        'imageStyle:alignLeft', 'imageStyle:alignCenter', 'imageStyle:alignRight',
                        '|',
                        'resizeImage',
                        '|',
                        'imageTextAlternative'
                    ]
                }
            })
            .catch(error => {
                console.error(error);
            });

        //Add Informations Button Scripts

        var contentInforMation = "<div class='row mb-2 border'><div class='col' ><input type='text' required name='ValueType' class='form-control round' placeholder='نام'></div><div class='col'><input type='text' name='ValueName' class='form-control round' required placeholder='مقدار'></div><div class='col'><button type='button' class='btn btn-danger remove-information-btn'><i class='fa fa-trash' aria-hidden='true'></i></button></div></div>";
        $("#add-information-btn").click(function () {
            $(contentInforMation).insertBefore("#add-information-btn");
        });
        $(document).on("click",
            ".remove-information-btn",
            function () {
                $(this).parent().parent().remove();
            });



        $("#addAdjective").click(function () {
            $("<input type='tect' id='adjectiveName' name='AdjectiveName' class='form-control round col-md-6' required placeHolder='نام صفت را وارد کنید'>").insertBefore("#addAdjective");
            $("<button type='button' class='btn btn-success m-2 round' id='addAdjectiveValue'>افزودن صفت</button>").insertBefore("#addAdjective");
            $("#addAdjective").hide();
        });
            $(document).on("click","#addAdjectiveValue",function () {
            var value = document.getElementById('adjectiveName').value;
            if (value == "") {
                alert = "مقدارد را پر کنید ! ";
            }
                var inputAdjective = "<div class='col-md-12 row border-dark border'><input readonly required type='text' class='round col-md-6 m-1 form-control' required /><br/><input required class='col-md-8 round m-1 mr-5 form-control' placeHolder='مقدار را وارد کنید و علامت بعلاوه ( + ) را بزنید' ><button class='round btn btn-success' id = 'btnAddAdjectiveValue' ><i class='icon icon-plus'></i></button ><span class='col-md-12'></span><button class='round btn btn-danger left' id='deleteAdjectiveNameAndValue'><i class='icon icon-trash'></i></button></div > ";
                $("#addAdjective").show();
                $("#adjectiveDiv").append(inputAdjective);
                $(this).prev().remove();
                $(this).remove();
            });
        $(document).on("click", "#deleteAdjectiveNameAndValue", function () {
            $(this).parent().remove();
        });

    </script>
}
